@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-mono: Iosevka;

  --color-primary: #e7e5e4;
  --color-secondary: #18181b;
  --color-tertiary: #333333;
  --color-accent: #2563eb;
  --color-background: #121212;
  --color-text: #f8f9fa;
  --color-text-muted: #a1a1aa;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  @font-face {
    font-family: 'NotoSansDisplay';
    src: url('/NotoSansDisplay-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'NotoSansDisplay';
    src: url('/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Iosevka';
    src: url('/Iosevka-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Iosevka';
    src: url('/Iosevka-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Iosevka';
    src: url('/Iosevka-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: 'Inter', 'Helvetica', sans-serif;
    font-weight: 100;
  }
}

@utility hover {
  @apply hover:brightness-85 duration-300 cursor-pointer;
}

@utility active-tab {
  @apply bg-gray-700 text-text;
}
